@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
  background-image: url("resources/bgpic.png");
  background-size: 1550px;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.l-header {
  padding: 10px 0;
  background: #081b29;
  color: #e03e3e;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.Container {
  padding: 10px 10%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav__logo {
  margin-left: 50px;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: #dacdcd;
}

.nav__logo span {
  color: orange;
}
.nav__menu {
  font-size: 20px;
  margin-left: 400px;
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 25px;
  display: inline-block;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.nav__link:hover {
  color: orange;
}

/*-----------------------------------------*/

.l-main {
  padding: 70px 0;
  margin-bottom: 20px;
}

.home__title {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  margin-top: 160px;
  margin-right: 370px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home__title-color-size {
  font-size: 90px;
  color: orange;
}

h1 {
  font-size: 35px;
  margin-top: 5px;
  color: orange;
}
h3 {
  font-size: 30px;
  margin-top: 24px;
  color: orange;
  padding-left: 17vw;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 21.5vw;
}

.home__social {
  margin-top: 16px;
  margin-bottom: 145px;
  padding-left: 23vw;
}

.home__social a {
  font-size: 24px;
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
}

.home__social :hover {
  color: #0b6284;
}
.home__img {
  margin: 0 0 0 570px;
  position: absolute;
  top: 39vw;
}

.home__img img {
  border: 3px #011320;
  border-radius: 30px;
  height: 25vw;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: -21vw;
  left: 25vw;
  transform: translateX(-20%);
}

/*-----------------------------------------*/

.about .container {
  padding-top: 4vw;
  padding-left: 19vw;
  width: 100%;
  color: #fff;
}

.about h2.section-title {
  color: white;
  background: orange;
  margin-top: 35vw;
  padding-top: 5vw;
  padding-left: 2vw;
  font-weight: bold;
  font-size: 70px;
  text-decoration: 2vw underline #08283e;
}
.about h2.about__subtitle {
  margin-top: 30px;
  font-weight: bold;
  font-size: 70px;
  text-decoration: underline #08283e;
  margin-left: 1vw;
}

.about h2 span {
  color: orange;
}

.about_txt {
  flex-basis: 60%;
}

.about_txt p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  line-height: 1.2;
  padding-left: 1vw;
  width: 60vw;
}

.titles {
  color: orange;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.audio {
  padding-left: 1vw;
  margin-top: 2vw;
}
.audio audio {
  margin-top: 1vw;
}
.about_audio {
  color: white;
  background: #011320;
  border: solid orange;
  border-radius: 15px;
  margin-top: 1vw;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
.fav_music_pic img {
  width: 20vw;
  height: 20vw;
  margin-top: 1vw;
  border: 2px solid orange;
  border-radius: 15px;
}
.row video {
  margin-left: 1vw;
  display: block;
  height: 36vw;
  width: auto;
  border: 2px solid orange;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.about_video {
  color: white;
  background: #011320;
  border: solid orange;
  border-radius: 15px;
  margin-left: 1vw;
  margin-top: 3vw;
  margin-bottom: 1vw;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
.about_hobby {
  color: white;
  background: #011320;
  border: 2px solid orange;
  border-radius: 15px;
  margin-left: 1vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
.hobby img {
  width: 20.4vw;
  height: 24vw;
  margin-left: 1vw;
  border: 2px solid orange;
  border-radius: 15px;
}
.descript_hobby {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-top: 1vw;
}
.hobby1 {
  margin-left: 2.5vw;
  background: #011320;
  border: 2px solid orange;
  border-radius: 15px;
  padding-left: 1vw;
  padding-right: 1vw;
}
.hobby2 {
  margin-left: 5vw;
  background: #011320;
  border: 2px solid orange;
  border-radius: 15px;
  padding-left: 1vw;
  padding-right: 1vw;
}
.hobby3 {
  margin-left: 6.5vw;
  background: #011320;
  border: 2px solid orange;
  border-radius: 15px;
  padding-left: 1vw;
  padding-right: 1vw;
}

/*-----------------------------------------*/
.skills .container {
  padding-top: 2vw;
  padding-left: 12vw;
  width: 100%;
}
.skills__names {
  background: #011320;
  margin-bottom: 30px;
  align-items: center;
  transition: transform 0.5s;
}
.skills h2.section-title {
  color: #fff;
  background: orange;
  text-decoration: 2vw underline #08283e;
  margin-top: 40vw;
  padding-top: 5vw;
  padding-left: 2vw;
  margin-bottom: 2vw;
  font-weight: bold;
  font-size: 70px;
}

.skills__container {
  display: justify;
  margin-left: 20px;
}

.skills__container div {
  padding: 3px;
  font-size: 10px;
  font-weight: 300;
  border-radius: 10px;
}
.skills__names:hover {
  transform: translateY(-10px);
}

.skills__names i {
  text-align: left;
  display: grid;
  color: orange;
  font-size: 30px;
  margin-top: 1vw;
  margin-left: 1vw;
  align-items: center;
}

.skills__names span {
  font-weight: 600;
  margin-left: 1vw;
  color: orange;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}

.skills__names p {
  color: #fafdff;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 2vw;
  margin-left: 1vw;
  text-align: justify;
  width: 96%;
  letter-spacing: 1px;
}
/*-----------------------------------------*/
.services .container {
  padding-top: 2vw;
  padding-left: 13vw;
  width: 100%;
}
.services h2.section-title {
  color: #fff;
  background: orange;
  text-decoration: 2vw underline #08283e;
  margin-top: 35vw;
  padding-left: 2vw;
  padding-top: 5vw;
  font-weight: bold;
  font-size: 70px;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
  margin-top: 3vw;
  padding-left: 2vw;
}

.services__container div {
  display: grid;
  background: #011320;
  padding: 30px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  width: 92%;
  transition: background 0.5s, transform 0.5s;
}

.services__container div {
  font-size: 50px;
  margin-bottom: 30px;
}

.services__container div h2 {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.services__container div p {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

.services__container div:hover {
  background: #011320;
  transform: translateY(-10px);
}

/*-----------------------------------------*/
.contact .container {
  padding-top: 2vw;
  padding-left: 13vw;
  width: 100%;
}
.contact-left {
  flex-basis: 35%;
}
.contact h2 {
  color: #fff;
  background: orange;
  text-decoration: 2vw underline #08283e;
  margin-top: 35vw;
  margin-bottom: 2vw;
  padding-top: 5vw;
  padding-left: 2vw;
  font-weight: bold;
  font-size: 70px;
}

.contact-left h2 {
  margin-top: 1px;
  font-weight: bold;
  font-size: 70px;
}

.map {
  width: 600;
  height: 400;
  border-radius: 15px;
  border: 2px solid orange;
}

.contact_right {
  flex-basis: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_right form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 32vw;
  margin-top: -25vw;
}

.contact-right_input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.contact-right_input::placeholder {
  color: #f9fafa;
}

.contact .btn {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact .btn:hover {
  background-color: orange;
}

/*-----------------------------------------*/

.footer {
  color: orange;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #08283e;
  font-weight: 300;
}

.footer__title {
  font-size: 24px;
  font-weight: 800;
}

.footer__social {
  margin: 20px 0;
}

.footer__social a {
  font-size: 24px;
  color: orange;
  margin: 0 10px;
  text-decoration: none;
}

.footer__social a :hover {
  color: #fff;
}
.footer__copy {
  font-size: 14px;
}
